//Elemental colors
@c-accent: #FFA900;
@c-focus: #24AEED;

//Font colors
@c-text-light: #FFF;
@c-text-dark: #000;

@c-text: @c-text-light;
@c-text-link: #00AEEF;
@c-text-link--active: @c-accent;
@c-text-deem: #959595;

//Background colors
@c-bg: #262626;

